.nav-black {
    background-color: black;
    color: white;
  }
  
  .dark-celu .container {
    background-color: transparent;
  }
  
  
  @media only screen and (max-width: 991px) {
    
    .dark-celu {
      background-color: black;
    }
   }

body{
    background-color: black;
    color: white;
}

.carousel-item ing {
    max-width: 180vh;
}

.Quienes_Somos h2{
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.Destacados h2{
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.col div{
  text-align: left;
  font-size: small;
  font-weight: 400;
}

.col img{
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

